*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    min-width: 375px;
    max-width: 1920px;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #2CB3F3;
}

.txt{
    width: 50vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.txt h1{
    font-size: 187.5%;
    display: flex;
    position: absolute;
    top: 2vh;
}

.txt p{
    font-size: 125%;
    display: flex;
    position: absolute;
}

.head{
    width: 50vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 6vw 6vw 0 0;
}

.face{
    width: 40vw;
    height: 50vh;
    background-color: #FFE1C9;
    border-radius: 50%;
}

.left-eye{
    width: 3vw;
    height: 5vh;
    position: absolute;
    left: 40vw;
    bottom: 50vh;
    background-color: black;
    border-radius: 50%;
}

.right-eye{
    width: 3vw;
    height: 5vh;
    position: absolute;
    right: 40vw;
    bottom: 50vh;
    background-color: black;
    border-radius: 50%;
}

.mouth{
    width: 20vw;
    height: 15vh;
    position: absolute;
    top: 55vh;
}

.mouth input{
    width: 20vw;
    height: 7.5vh;
    font-size: large;
    border: 0.125vh solid black;
    border-radius: 2.5% 2.5% 2.5% 2.5%;
}

button{
    width: 10vw;
    height: 5vh;
    font-size: 130%;
    color: white;
    position: absolute;
    left: 45vw;
    bottom: 3vh;    
    background-color: #55A603;
    border-radius: 10% 10% 10% 10%;
    border-color: transparent;
    box-shadow: 5px 2px 2px gray;
}